/*
text-decoder.css
Estilos gerais
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body, html {
	min-width: 100vw;
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	background-color: #F3F5FC;
	/* outline: 1px solid red; */
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	min-height: 100vh;

}

/* Estilos do cabeçalho */
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 40px;
	padding: 20px;
	border-radius: 8px;
	/* outline: 3px solid green; */
}

.logo-container {
	margin-bottom: 60px;
}

.logo-container img {
	width: 80px;
	height: 80px;
}

.language-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	list-style-type: none;
}


.button-container {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-bottom: 72px;
	width: 100%;
	align-items: flex-start;
	gap: 5px;
}

.coders-btn {
	border: none;
	background-color: #0A3871;
	color: #fff;
	padding: 12px 24px;
	font-size: 14px;
	cursor: pointer;
}

.coders-btn:hover {
	background-color: #495057;
}

.round-btn {
	border: none;
	border-radius: 50%;
	background-color: #0A3871;
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 20px;
	transition: 0.8s;
}

.round-btn:hover {
	background-color: #609ED4;
}

.content {
	position: relative;
	display: flex;
	padding: 168px 32px 32px 32px;
	height: 100%;
	width: 50vw;
	left: 0px;
	border-radius: 32px;
	outline: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	text-align: left;
	border: none;
	align-items: left;
	justify-content: left;
	color: #0A3871;
	resize: none;
	box-sizing: border-box;
	background-color: transparent;
}

textarea.content::placeholder {
	color: #0A3871;
  }

.aligned-left {
	display: flex;
	width: 100%;
	margin-bottom: 16px;
	align-items: flex-start;
	gap: 5px;
}

.icon-exclamation {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #0A3871;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 16px;
}
.info {
	font-size: 14px;
	color: #343a40;
}

legend {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 6px;
	height: 18px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 150%;
	color: #495057;
	opacity: 0.8;
}

#encrypt {
	width: 328px;
	height: 67px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	display: block;
	margin-right: 24px;
	padding: 24px;
	gap: 8px;
	background: #0A3871;
	border-radius: 24px;
	color: #ffffff;
}

#decrypt {
	width: 328px;
	height: 67px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	display: block;
	color: #0A3871;
	padding: 24px;
	gap: 8px;
	background: #D8DFE8;
	border: 1px solid #0A3871;
	border-radius: 24px;
}

.coders-btn:hover {
	background-color: #609ED4;

}

/* Estilos do resultado */
.copy-area {
	display: flex;
	position: relative;
	width: 400px;
	height: 95%;
	color: #495057;
	outline: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
	padding: 0 32px 32px 32px;
	top: 40px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	background-color: #ffffff;
	overflow: auto;
}

#copy {
	background-color: #D8DFE8;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	padding: 24px;
	width: 336px;
	height: 67px;
	cursor: pointer;
	position: absolute;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
}

#copy input {
		position: absolute;
		display: block;
		align-items: flex-end;
		justify-content: flex-end;
}

#copy:hover {
	background-color: #757FB2;
	text-align: center;
	color: #ffffff;
}

.centered-image {
	width: 100%;
	max-width: 300px;
}

.image-container {
	width: 336px;
	height: 304px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../images/ilustracao.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

#output {
	color: #0A3871;
	/* background-color: #F3F5FC; */
  }
.output {
	display: flex;
	flex-direction: column;
	outline: 0;
	gap: 16px;
	width: 100%;
	height: 100%;
	padding: 32px;
	text-align: left;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	border: none;
	align-items: left;
	justify-content: left;
	color: #0A3871;
	resize: none;
	box-sizing: border-box;
	background-color: transparent;
}
.message {
	position: absolute;
	width: 336px;
	height: 122px;
	bottom: calc(100% - 85%);
}

.no-background {
	background-image: none !important;
  }

.message p {
	/* margin-top: 90%; */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	color: #343A40;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}
.message span {
	height: 46px;
	margin-top: 16px;
	display: inline-flex;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #495057;
}

.hidden {
	display: none;
}

.image-container textarea {
	border: none;
	background-color: transparent;
}

.centered-image {
	max-width: 100%;
}

/* Estilos do rodapé */
.footer {
	padding: 10px;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 150px;
	background-color: #343a40;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer a {
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
}
